body {
    margin: 0;
    padding: 0;
    background: lightgray;
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    min-height: 100vh; /* Use min-height so margins can exist inside */
}

#app_container {
    text-align: center;
    margin: 20px; /* default margin; you will override this in JS */
}

canvas#snakecontainer {
    border: 4px solid #BD7B18;
    background-color: #E4D6AE;
}
